<div class="panel-overlay"></div>

<!-- Left Panel with Reveal effect -->
<div class="panel panel-left panel-reveal">
  <div class="list-block">
    <ul class="menu">
    </ul>
  </div>
</div>

<div class="views">
  <div class="view view-main">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left open-panel">
          <p class="link open-panel">　</p>
        </div>
        <a href="/"><div class="center sliding logo"><%= image_tag "logo.png", alt: "つけ麺ランキング" %></div></a>
        <div class="right sliding">
        </div>
      </div>
    </div>
    <div class="pages">
      <div class="page" data-page="index">
        <div class="page-content">
          <div class="main-area">
            <p class="main-copy"><%= image_tag "main_copy.png", alt: "つけ麺選びで、もう間違えない。" %></p>
            <div class="search">
              <div class="left">
                <p><%= image_tag "main_image.png" %></p>
              </div>
              <div class="right">
                <p>つけ麺好きのための、<br>「つけ麺」専門情報サイト</p>
                <p><input type="text"></p>
                <p><button>検索</button></p>
              </div>
            </div>
          </div>
          <div class="sub-area">
            <div class="subs">
              <div class="sub">
                <p><%= image_tag "sub1.png" %></p>
                <p class="sub-copy">つけ麺に特化した評価</p>
                <p class="sub-text">そのお店のラーメンがどんなに美味しくて<br>
                評判が良くても、ここではそれは無視して<br>
                「つけ麺」の味だけで評価しています。</p>
              </div>
              <div class="sub">
                <p><%= image_tag "sub2.png" %></p>
                <p class="sub-copy">近くのつけ麺を検索</p>
                <p class="sub-text">つけ麺があるお店のみ登録されています。<br>
                今いる場所に近いつけ麺屋さんや、<br>
                外出先でも簡単に検索できます。</p>
              </div>
              <div class="sub">
                <p><%= image_tag "sub3.png" %></p>
                <p class="sub-copy">写真で特徴がよくわかる</p>
                <p class="sub-text">様々なサイトに投稿されたつけ麺写真や<br>
                レビューを一覧で見ることが出来ます。<br>
                お店に行く前にチェックしましょう！</p>
              </div>
            </div>
            <div class="areas">
              <% @prefectures.each do |p| %>
                <a href="/p/<%= p.id %>"><%= p.name %></a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
