<!DOCTYPE html>
<html>
<head>
  <title>つけ麺ランキング</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <%= display_meta_tags default_meta_tags %>
  <meta property="og:title" content="つけ麺ランキング">
  <meta property="og:type" content="article">
  <meta property="og:description" content="「つけ麺ランキング」は、つけ麺に特化した店舗検索サービスです。">
  <meta property="og:url" content="http://tsuke.men">
  <meta property="og:image" content="http://tsuke.men/icon.png">
  <meta property="og:site_name" content="つけ麺ランキング">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'icon.png' %>
</head>
<body>

<%= yield %>

<script src="/my-app.js"></script>
</body>
</html>
